body {
	background-image: url('../images/all_background.png');
	background-repeat: no-repeat;
	font-family: CustomFont;
}

div.temp-slider {
	margin-bottom: 0 !important;
}

.validate-tips, .options-validate-tips, .initial-dialog {
	display: table-row;
    vertical-align: center;
}

.common-background {
	display: table;
	vertical-align: center;
	background-color: #5674b9;
	width: 100%;
	min-height: 150px;	
	position: relative;
	text-align: center;
	margin-top: 40%;
	color: #ffffff;
	vertical-align: middle;
	font-size: 125%;
}

#connect, #reconnect {
	font-size: 125%;
	top: calc(40%);
	left: calc(50% - 160px);
	left: -webkit-calc(50% - 200px);
	oapcity: 1;
	-webkit-animation: fade-in-out 2.5s infinite; 
	-moz-animation: fade-in-out 2.5s infinite; 
	-o-animation: fade-in-out 2.5s infinite; 
	animation: fade-in-out 2.5s infinite;
	width: auto;
	height:100%;
}

#error{
	
	font-size: 100%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

@font-face {
    font-family: CustomFont;
    src: url(../images/erasl.ttf);
}
div.menu-title, .settings#load-options {
	font-size: 400%;
	margin-bottom: 30px;
	display: block;
	position: relative;
	text-align: left;
	color: #464646;
}

.single-row {
	
	margin-bottom: 10px;
	margin-left: 0px;
	display: block;
	height: auto;
	line-height: 0px;
}

.cycle-slideshow {
	display: inline-block;
	width: auto;
}

.main-menu-options img {
	width: 100%;
	height: 100%;
}

.cycle-slideshow img{
	max-width: 100%;
	height: 100%;
}

.tile-button img{
	width: 100%;
	height: 100%;
}

.temp-slider {
	background: white;
	width: auto;
	display: inline-block;
	color: white;
}

.temp-tile {
	margin-bottom: 5%;
}

.temperature-info {
	display: inline-block;
	height: auto;
	margin-left: 10%;
}

.temperature-info img {
	width: 100%;
	height: 100%;
}

.help-menu img {
	width: 100%;
	height: 100%;
}

.first-order-menu{
	display: block;
}
.help-menu {
	display: block;
	margin-left: auto;
}

.first-order-menu img {
	width: 100%;
	height: 100%;
}

.cycle-overlay {
	background: transparent;
	bottom: 0;
	color: white;
	font-family: tahoma, arial;
	opacity: 0.5;
	position: absolute;
	padding: 0px;
	width: 100%;
	z-index: 600;
	display: inline-block;
}

.tile-button {
	display: inline-block;
	height: auto;
	margin-right: 10px;
}

.footer {
	margin-top: 30px;
}

.back-main-menu-button {
	width: 150px;
}

/*ANIMATION*/
@-webkit-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@-moz-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@-o-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}
/*END ANIMATION*/
