body {
}

p.menu-title {
	font-size: 300%;
	margin-bottom: 30px;
	display: block;
}

.single-row {
	margin-bottom: 20px;
	margin-left: 20px;
	display: block;
}

.tile-button {
	background: orange;
	width: 15vw;
	height: 15vw;
	display: inline-block;
	color: white;
	float: left;
	margin-right: 10px;
}

.cycle-slideshow {
	display: inline-block;
	height: 15vw;
}

.temp-slider {
	background: white;
	height: 15vw;
	display: inline-block;
	color: white;
	float: left;
	margin-right: 60px !important;
}

.temp-tile {
	margin-bottom: 30px;
}

.temperature-info {
	display: inline-block;
	height: 15vw;
}

.first-order-menu {
	display: block;
	height: 15vw;
}

.cycle-overlay {
	background: transparent;
	bottom: 0;
	color: white;
	font-family: tahoma, arial;
	opacity: 0.5;
	position: absolute;
	padding: 15px;
	width: 100%;
	z-index: 600;
}

.cycle-slideshow > img {
	width: 100%;
	height: 100%;
}

.footer {
	margin-top: 30px;
}

#temperature-menu, #lighting-menu, #blinds-menu, #help-message {
	display: none;
}

img {
	box-shadow: 2px 1px 1px #888888;
}
