body {
}

.validate-tips, .options-validate-tips{
	display: table-cell;
	width:400px;
	height:150px;
	vertical-align: middle;
	font-size: 125%;
	
	
}
.common-background{

	background-image: url('../images/background.png');
	width:400px;
	height:150px;
	position: relative;
	display: block;
	text-align: center;
	margin-top: 15%;
	font-family: tahoma;

	color: #ffffff;
}

#connect{
	font-size: 125%;
	position: absolute;
	top: calc(40%);
	left: calc(50% - 160px);
	left: -webkit-calc(50% - 200px);
	oapcity: 1;
	-webkit-animation: fade-in-out 2.5s infinite; 
	-moz-animation: fade-in-out 2.5s infinite; 
	-o-animation: fade-in-out 2.5s infinite; 
	animation: fade-in-out 2.5s infinite;
	width:400px;
	height:150px;
	

}
#error{
	display: table-cell;
	font-size: 100%;
	margin-left: 10%;
	margin-right: 10%;
	width:400px;
	height:150px;
	vertical-align: middle;
}

div.menu-title, .settings#load-options {
	font-size: 200%;
	margin-bottom: 30px;
	display: block;
	position: relative;
	font-family: Arial;
	text-align: center;
	
}

.single-row {
	margin-bottom: 10 px;
	margin-left: 0px;
	display: block;
	position: relative;
}

.tile-button {
	
	
	display: inline-block;
	color: white;
	float: left;

}

.cycle-slideshow {
	display: inline-block;
	width: 20%;
	height: 70%;
}
.cicle-slideshow > img , .tile-button > img{
	max-width:100%;
	max-height:100%;
}

.temp-slider {
	background: white;
	height: 15vw;

	display: block;
	color: white;
	float: left;
	margin-right: 60px !important;
}

.temp-tile {
	margin-bottom: 30px;
	width: 500px;
	height: 15vw;
}

.temperature-info {
	display: block;
	width: 400 px;
}

.first-order-menu {
	display: block;
	height: 160 px;
	width: 400px;

}

.cycle-overlay {
	background: transparent;
	bottom: 0;
	color: white;
	font-family: tahoma, arial;
	opacity: 0.5;
	position: absolute;
	padding: 0px;
	width: 100%;
	z-index: 600;
	display: inline-block;
	float: left;
}
.tile-button {
	width: 70%;
	height: 70%;
	
	
}

.footer {
	margin-top: 30px;
}
.back-main-menu-button{
	width: 150px;
}
.alarm-switch{
	width: 400px;
}
.light-menu, .blind-menu > img{
}

#temperature-menu, #lighting-menu, #blinds-menu, #help-message {
}


/*ANIMATION*/
@-webkit-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@-moz-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@-o-keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}

@keyframes fade-in-out{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    oapcity: 1;
  }
}
/*END ANIMATION*/
